body {
  background-color: darkkhaki;
}
h1{
  color:#006400;
}

h3 {
  color: #006400;
  width: auto;
}

h2 {
  color: #006400;
}

h4 {
  color:#006400;
}

td {
  color: #006400;
}

td {
  color: #006400;
}

contact {
  font-family: sans-serif;
  color: #006400;
}

li {
  color: #006400;
}

a {
  color: #006400;
}
