body {
  background-color: black;
}
h1{
  color:green;
}

h3 {
  color: green;
  width: auto;
}

h2 {
  color: green;
}

h4 {
  color: green;
}

td {
  color: green;
}

td {
  color: green;
}

contact {
  font-family: sans-serif;
  color: green;
}

li {
  color: green;
}

a {
  color: green;
}
